<?xml version="1.0"?>
<InteractionTypeMapper>
    <type name="PPrel: state" reverse="PPrel: state" direction="-" />
    <type name="physical association" reverse="physical association"
        direction="-" />
    <type name="Affinity Capture-Luminescence"
        reverse="Affinity Capture-Luminescence" direction="-" />
    <type name="Invivo" reverse="Invivo" direction="-" />
    <type name="PPrel: inhibition, phosphorylation"
        reverse="PPrel: inhibited by, phosphorylated by" direction="-|" />
    <type name="acetylation" reverse="acetylated by" direction="-" />
    <type name="PCrel: compound" reverse="PCrel: compound"
        direction="-" />
    <type name="PCrel" reverse="PCrel" direction="-" />
    <type name="PPrel: expression" reverse="PPrel: expressed by"
        direction="->" />
    <type name="PPrel: dephosphorylation"
        reverse="PPrel: dephosphorylated" direction="-" />
    <type name="PPrel: activation, indirect"
        reverse="PPrel: activated by, indirect" direction="->" />
    <type name="GErel: repression" reverse="GErel: repressed by"
        direction="-|" />
    <type name="PCrel: inhibition" reverse="PCrel: inhibited by"
        direction="-|" />
    <type name="Affinity Capture-MS" reverse="Affinity Capture-MS"
        direction="-" />
    <type name="enzymatic reaction" reverse="enzymatic reaction by"
        direction="-" />
    <type name="Phenotypic Enhancement" reverse="Phenotypic Enhancement by"
        direction="->" />
    <type name="PPrel: phosphorylation, indirect"
        reverse="PPrel: phosphorylated, indirect" direction="-" />
    <type name="protein cleavage" reverse="protein cleavage by"
        direction="-" />
    <type name="PPrel: inhibition, ubiquination"
        reverse="PPrel: inhibited by, ubiquinated by" direction="-|" />
    <type name="PPrel: phosphorylation, dissociation"
        reverse="PPrel: phosphorylated by, dissociation" direction="-" />
    <type name="neddylation" reverse="neddylated" direction="-" />
    <type name="phosphotransfer" reverse="phosphotransfer by"
        direction="-" />
    <type name="PPrel: dissociation, missing"
        reverse="PPrel: dissociation, missing" direction="-" />
    <type name="PPrel: indirect, phosphorylation"
        reverse="PPrel: indirect, phosphorylated" direction="-" />
    <type name="dephosphorylation" reverse="dephosphorylated by"
        direction="-" />
    <type name="PPrel: ubiquination, inhibition"
        reverse="PPrel: ubiquinated by, inhibited by" direction="-|" />
    <type name="sumoylation" reverse="sumoylated by" direction="-" />
    <type name="ubiquitination" reverse="ubiquitinated by"
        direction="-|" />
    <type name="PPrel: missing" reverse="PPrel: missing"
        direction="-" />
    <type name="PPrel: inhibition, indirect"
        reverse="PPrel: inhibited by, indirect" direction="-|" />
    <type name="Dosage Rescue" reverse="Dosage Rescued by" direction="->" />
    <type name="PCrel: binding/association"
        reverse="PCrel: binding/association" direction="-" />
    <type name="Co-purification" reverse="Co-purification"
        direction="-" />
    <type name="palmitoylation" reverse="palmitoylated by"
        direction="-" />
    <type name="PPrel: phosphorylation, binding/association"
        reverse="PPrel: phosphorylation, binding/association"
        direction="-" />
    <type name="PPrel: ubiquination" reverse="PPrel: ubiquinated by"
        direction="-|" />
    <type name="Phenotypic Suppression" reverse="Phenotypic Suppressed by"
        direction="-|" />
    <type name="Protein-peptide" reverse="Protein-peptide"
        direction="-" />
    <type name="PPrel: inhibition" reverse="PPrel: inhibited by"
        direction="-|" />
    <type name="gtpase reaction" reverse="gtpase reaction"
        direction="-" />
    <type name="GErel: expression, indirect"
        reverse="GErel: expression by, indirect" direction="->" />
    <type name="PCrel: activation, phosphorylation"
        reverse="PCrel: activated by, phosphorylation" direction="->" />
    <type name="PPrel: activation" reverse="PPrel: activated by"
        direction="->" />
    <type name="ECrel: hidden compound" reverse="ECrel: hidden compound"
        direction="-" />
    <type name="cleavage" reverse="cleavaged by" direction="-" />
    <type name="PPrel: compound" reverse="PPrel: compound"
        direction="-" />
    <type name="Protein-RNA" reverse="Protein-RNA" direction="-" />
    <type name="PPrel: phosphorylation" reverse="PPrel: phosphorylated by"
        direction="->" />
    <type name="association" reverse="association" direction="-" />
    <type name="deacetylation" reverse="deacetylated by" direction="-" />
    <type name="Reconstituted Complex" reverse="Reconstituted Complex"
        direction="-" />
    <type name="PCrel: activation" reverse="PCrel: activated by"
        direction="->" />
    <type name="FRET" reverse="FRET" direction="-" />
    <type name="PPrel: activation, dephosphorylation"
        reverse="PPrel: activated by, dephosphorylation" direction="->" />
    <type name="PPrel: binding/association"
        reverse="PPrel: binding/association" direction="-" />
    <type name="covalent binding" reverse="covalent binding"
        direction="-" />
    <type name="phosphorylation" reverse="phosphorylated by"
        direction="-" />
    <type name="PPrel: inhibition, dephosphorylation"
        reverse="PPrel: inhibited by, dephosphorylation" direction="-|" />
    <type name="Co-crystal Structure" reverse="Co-crystal Structure"
        direction="-" />
    <type name="direct interaction" reverse="direct interaction"
        direction="-" />
    <type name="GErel: expression" reverse="GErel: expression by"
        direction="->" />
    <type name="methylation" reverse="methylated by" direction="-" />
    <type name="demethylation" reverse="demethylated by" direction="-" />
    <type name="Co-localization" reverse="Co-localization"
        direction="-" />
    <type name="elongation" reverse="elongated by" direction="-" />
    <type name="Affinity Capture-RNA" reverse="Affinity Capture-RNA"
        direction="-" />
    <type name="PPrel" reverse="PPrel" direction="-" />
    <type name="PCrel: missing" reverse="PCrel: missing"
        direction="-" />
    <type name="Far Western" reverse="Far Western" direction="-" />
    <type name="Co-fractionation" reverse="Co-fractionation"
        direction="-" />
    <type name="Synthetic Rescue" reverse="Synthetic Rescued by"
        direction="->" />
    <type name="PPrel: dissociation" reverse="PPrel: dissociation"
        direction="-" />
    <type name="Biochemical Activity" reverse="Biochemical Activity"
        direction="-" />
    <type name="ECrel: compound" reverse="ECrel: compound"
        direction="-" />
    <type name="adp ribosylation" reverse="adp ribosylationed by"
        direction="-" />
    <type name="PPrel: indirect" reverse="PPrel: indirect"
        direction="-" />
    <type name="Two-hybrid" reverse="Two-hybrid" direction="-" />
    <type name="rna cleavage" reverse="rna cleavaged by" direction="-" />
    <type name="Affinity Capture-Western"
        reverse="Affinity Capture-Western" direction="-" />
    <type name="PPrel: activation, phosphorylation"
        reverse="PPrel: activated by, phosphorylation" direction="->" />
    <type name="colocalization" reverse="colocalization"
        direction="-" />
    <type name="Invitro" reverse="Invitro" direction="-" />
        <!-- New types for the 2012 version -->
    <type name="PPrel: indirect effect, phosphorylation" reverse="PPrel: indirect effect, phosphorylation"
    direction="-" />
    <type name="PPrel: activation, binding/association" reverse="PPrel: activated binding/association"
        direction="->" />
    <type name="PPrel: activation, indirect effect" reverse="PPrel: activated, indirect effect"
        direction="->" />
    <type name="ECrel: compound, activation, indirect effect"
        reverse="ECrel: compound, activated, indirect effect"
        direction="->" />
    <type name="PPrel: activation, ubiquination" reverse="PPrel: activated, ubiquination"
        direction="->" />
    <type name="PPrel: missing interaction" reverse="PPrel: missing interaction"
        direction="-" />
    <type name="PCrel: activation, indirect effect" reverse="PCrel: activated, indirect effect"
        direction="->" />
    <type name="ECrel: activation" reverse="ECrel: activated"
        direction="->" />
    <type name="ECrel: compound, activation" reverse="ECrel: compound, activated"
        direction="->" />
    <type name="PCrel: inhibition, indirect effect" reverse="PCrel: inhibited, indirect effect"
        direction="-|" />
    <type name="GErel: expression, indirect effect" reverse="GErel: expression, indirect effect"
        direction="->" />
    <type name="PPrel: compound, inhibition" reverse="PPrel: compound, inhibited"
        direction="-|" />
    <type name="PPrel: compound, activation, indirect effect"
        reverse="PPrel: compound, activated, indirect effect"
        direction="->" />
    <type name="PPrel: state change" reverse="PPrel: state change"
        direction="-" />
    <type name="PPrel: indirect effect" reverse="PPrel: indirect effect"
        direction="-" />
    <type name="GErel: repression, indirect effect" reverse="GErel: repressed, indirect effect"
        direction="-|" />
    <type name="PCrel: activation, binding/association" reverse="PCrel: activated, binding/association"
        direction="->" />
    <type name="PCrel: state change" reverse="PCrel: state change"
        direction="-" />
    <type name="PCrel: methylation" reverse="PCrel: methylation"
        direction="-" />
    <type name="PPrel: dissociation, missing interaction" reverse="PPrel: dissociation, missing interaction"
        direction="-" />
    <type name="PPrel: activation, phosphorylation, indirect effect"
        reverse="PPrel: activated, phosphorylation, indirect effect"
        direction="->" />
    <type name="PPrel: activation, inhibition" reverse="PPrel: activation, inhibition"
        direction="-" />
    <type name="PPrel: inhibition, binding/association" reverse="PPrel: inhibited, binding/association"
        direction="-|" />
    <type name="PPrel: phosphorylation, indirect effect" reverse="PPrel: phosphorylation, indirect effect"
        direction="-" />
    <!-- missing interaction should not be listed in the FI network -->
    <type name="PPrel: binding/association, missing interaction"
        reverse="PPrel: binding/association, missing interaction"
        direction="-" />
    <type name="PCrel: missing interaction" reverse="PCrel: missing interaction"
        direction="-" />
    <type name="GErel: missing interaction" reverse="GErel: missing interaction"
        direction="-" />
    <type name="ECrel" reverse="ECrel" direction="-" />
    <type name="PPrel: compound, activation, phosphorylation"
        reverse="PPrel: compound, activated, phosphorylation"
        direction="->" />
    <type name="PCrel: indirect effect" reverse="PCrel: indirect effect"
        direction="-" />
    <type name="PPrel: compound, expression" reverse="PPrel: compound, expression"
        direction="-" />
    <type name="PCrel: binding/association, indirect effect"
        reverse="PCrel: binding/association, indirect effect" direction="-" />
    <type name="PCrel: dissociation" reverse="PCrel: dissociation"
        direction="-" />
    <type name="PPrel: compound, activation" reverse="PPrel: compound, activated"
        direction="->" />
    <type name="PPrel: inhibition, indirect effect" reverse="PPrel: inhibited, indirect effect"
        direction="-|" />
    <type name="PCrel: inhibition, dephosphorylation" reverse="PCrel: inhibited, dephosphorylation"
        direction="-|" />
    <type name="PPrel: binding/association, indirect effect"
        reverse="PPrel: binding/association, indirect effect" direction="-" />
    <!-- The following types were added on December 10, 2013 -->
    <type name="GErel: inhibition, expression" reverse="GErel: inhibited, expression"
        direction="-|" />
    <type name="PPrel: dephosphorylation, indirect effect" reverse="PPrel: dephosphorylated, indirect effect"
        direction="-" />
    <type name="PPrel: ubiquitination" reverse="PPrel: ubiquitinated"
        direction="-" />
    <type name="PPrel: ubiquitination, inhibition" reverse="PPrel: ubiquitinated, inhibition"
        direction="-|" />
    <type name="PPrel: activation, ubiquitination" reverse="PPrel: activated, ubiquitination"
        direction="->" />
    <type name="PPrel: inhibition, ubiquitination" reverse="PPrel: inhibited, ubiquitination"
        direction="-|" />
    <!-- The following four types are added in December, 2014 -->
    <type name="PPrel: activation, methylation" reverse="PPrel: activated, methylation" direction="->" />
    <type name="PCrel: expression" reverse="PCrel: expressed by" direction="->" />
    <type name="PPrel: inhibition, methylation" reverse="PPrel: inhibited, methylation" direction="-|" />
    <type name="PPrel: activation, phosphorylation, binding/association" reverse="PPrel: activated, phosphorylation, binding/association" direction="->" />    
    <!-- The following three types are added in March, 2016 for release 2015 -->
    <type name="PPrel: inhibition, glycosylation" reverse="PPrel: inhibited glycosylation" direction="-|" />
    <type name="PPrel: glycosylation" reverse="PPrel: glycosylated" direction="-" />
    <type name="PPrel: inhibition, dephosphorylation, indirect effect" reverse="PPrel: inhibited, dephosphorylation, indirect effect" direction="-|" />
    <!-- The following 5 types are added in February, 2017 for Release 2016 -->
    <type name="PPrel: activation, dissociation" reverse="PPrel: activated, dissociation"
        direction="->" />
    <type name="PCrel: inhibition, phosphorylation" reverse="PCrel: inhibited, phosphorylation"
        direction="-|" />
    <type name="PPrel: inhibition, missing interaction" reverse="PPrel: inhibited, missing interaction"
        direction="-|" />
    <type name="PCrel: inhibition, missing interaction" reverse="PCrel: inhibited, missing interaction"
        direction="-|" />
    <type name="GErel: expression, missing interaction" reverse="GErel: expressed by, missing interaction"
        direction="->" />
    <type name="GErel: dephosphorylation, expression" reverse="GErel: dephosphorylated by, expressed by" direction="-" />
</InteractionTypeMapper>